.map-wrapper {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.route-summary {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  background: white;
  padding: 12px 15px;
  border-radius: 10px;

  box-shadow: o 4px 12px rgba(0, 0, 0, 0.15);

  max-width: 280px;
}

.route-summary p {
  margin: 0 0 6px;
}

.route-summary p:last-child {
  margin-bottom: 0;
}
